:root { 
      --primary-text-color: #212121;
      --secondary-text-color: #757575;
      --accent-color: #2196f3;
      --primary-bg-color: #e5e5e5;
      --secondary-bg-color: #2f303a;
      --grey-bg-color: #f5f4fa;
      --color-title: #ffffff;
      --color-btn: #2196F3;
    
}

body {
      
      color: var(--secondary-text-color);
      font-family: Roboto, sans-serif;
      font-size: 16px;
      line-height: 1.19;
      letter-spacing: 0.03em;
      font-family: 'Roboto',
      sans-serif;
}

.list {
     list-style: none;
 }
 
 /*-----HEADER-----*/
 .logo {
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        color: var(--primary-text-color);
        text-decoration: none;
        font-family: 'Raleway',
        sans-serif;
        
 }
 .logo-web {
     color: var(--accent-color);
 }
 .header-list, .header-item 
 {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    color: var(--primary-text-color);
    font-family: 'Roboto',
    sans-serif;
 }

.header-item:hover,
.header-item:focus
{
    color: var(--accent-color);
}
.header-item.current
{
    color: var(--accent-color);
}
.header-contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color:  var(--secondary-text-color);
    font-family: 'Roboto',
    sans-serif;
}
.header-contact:hover,
.header-contact:focus {
    color: var(--accent-color);
}
/*-----HEADER END-----*/

/*-----HERO-----*/
.hero {
    background-color: var(--secondary-bg-color);
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /* or 136% */
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-title);

}
.hero-btn {
    background-color: var(--color-btn);
    color: var(--color-title);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    /* identical to box height, or 187% */
    letter-spacing: 0.06em;
}
/*-----HERO-----*/

/*-----FEATURES-----*/
.feature-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
}

.feature-text {
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}
/*-----FEATURES END-----*/

/*-----WORK-----*/
.work-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;

}
/*-----WORK END-----*/

/*-----TEAM-----*/
.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.team-item-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.team-pro{
    font-size: 16px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: var(--secondary-text-color)

}
/*-----TEAM END----*/

/*-----FOOTER-----*/
.footer{
    background-color: var(--secondary-bg-color);
    
}
.footer-logo {
    font-weight: 400;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: var(--color-title);
    text-decoration: none;
    font-family: 'Raleway',
    sans-serif;

}
.footer-logo-web {
    color: var(--accent-color);
}
.adres {
    font-style: normal;
}
.adres-item,
.adres-contact {
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-family: 'Roboto',
    sans-serif;
}
.adres-adres {
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color: var(--color-title);
    font-family: 'Roboto',
    sans-serif;
    }
/*-----FOOTER END-----*/

/*----PORTFOLIO-----*/

.project-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    /* identical to box height, or 162% */
    letter-spacing: 0.03em; 
    color: var(--primary-text-color);
    cursor: pointer;
    border: none;
    font-family: inherit;
    }

.project-btn:hover,
.project-btn:focus {
    color: var(--color-title);
    background-color: var(--accent-color);
}
.project-img-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    /* identical to box height, or 200% */
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
    font-family: 'Roboto',
    sans-serif;
}
.project-img-text{
font-size: 16px;
line-height: 1.87;
/* identical to box height, or 187% */

letter-spacing: 0.03em;
color: var(--secondary-text-color);
font-family: 'Roboto',
sans-serif;
}